:root {
  --yinmn-blue: #274c77;
  --battleship-gray: #8b8c89;
  --antiflash-white: #e7ecef;
  --air-superiority-blue: #6096ba;
  --uranian-blue: #a3cef1;

  --bg-color: var(--yinmn-blue);
  --text-color: var(--antiflash-white);
  @media (prefers-color-scheme: dark) {
    --bg-color: var(--uranian-blue);
    --text-color: var(--antiflash-white);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
